:root {
    box-sizing: border-box;
}


#board {
    height: 420px;
    flex-grow: 1;
    display: flex;
}




.column {
    align-items: center;
    border: 3px ridge brown;
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
}

.disc {
    height:70px;
    width: 70px;
    border-radius: 50%;
}

.disc.pl1 {
    background-color: red;
}

.disc.pl2 {
    background-color: black;
}































/* :root {
    box-sizing: border-box;
}

#board {
    height: 400px;
    width: 400px;
    display: flex;
    margin-left: 500px ;
}

.big-row {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    bottom: 399px;
    width: 400px;
    height: 400px;
    margin-left: 500px;
}

.column {
    border: 2px solid #cfaddd;
    flex-grow: 1;
}

.row {
    border: 2px solid #cfaddd;
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
}

.disc {
    height:20px;
    border-radius: 50%;
}

.disc.pl1 {
    background-color: yellow;
}

.disc.pl2 {
    background-color: red;
} */